/* ------------------------------- */
/* Default CSS */
/* ------------------------------- */

* {
  margin: 0;
  padding: 0;
  /* accounts for border and padding of the element */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 150%;
}

html {
  background-color: #FFF;
  color: #000;
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ------------------------------- */
/* Container */
/* ------------------------------- */

.container {
  position: relative;
  max-width: 1140px;
  /* top and bottom are 0, left and right are auto-centered */
  margin: 0 auto;
  /* centers child elements */
  text-align: center;
}

/* @media must be in ascending order or display won't be reponsive off */
@media (min-width: 50px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 560px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-70 {
  position: relative;
  max-width: 750px;
  /* top and bottom are 0, left and right are auto-centered */
  margin: 0 auto;
  /* centers child elements */
  text-align: center;
}

/* @media must be in ascending order or display won't be reponsive off */
@media (min-width: 50px) {
  .container-70 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 576px) {
  .container-70 {
    max-width: 560px;
  }
}

@media (min-width: 768px) {
  .container-70 {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-70 {
    max-width: 750px;
  }
}

@media (min-width: 1200px) {
  .container-70 {
    max-width: 750px;
  }
}

/* ------------------------------- */
/* Row */
/* ------------------------------- */

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ------------------------------- */
/* Columns */
/* ------------------------------- */

.col-auto, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-auto {∏
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          -webkit-box-flex: 0;
              flex: 0 0 auto;
  max-width: none;
  width: 100%;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.333333%;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666667%;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.333333%;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.666667%;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

/* Flex columns for phones */
@media (min-width: 576px) {
  .col-sm-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, 
  .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: none;
    width: 100;
  }

  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Flex columns for tablets */
@media (min-width: 768px) {
  .col-md-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
  .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: none;
    width: 100%;
  }

  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Flex columns for laptops and desktops */
@media (min-width: 992px) {
  .col-lg-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
  .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: none;
    width: 100%;
  }

  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Flex column for high-res monitors */
@media (min-width: 1200px) {
  .col-xl-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, 
  .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xl-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: none;
    width: 100%;
  }

  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

/* ------------------------------- */
/* Form Styles */
/* ------------------------------- */

.form-group {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  border-radius: 5px;
  height: 2rem;
  border: 1px solid #DDDDDD;
  padding: 2px 7px;
  font-size: 1rem;
  font-weight: 300;
}

textarea.form-control {
  height: auto;
}

/* ------------------------------- */
/* Nav */
/* ------------------------------- */

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
  /* vertically centers Flex elements */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* makes nav-logo and navbar-nav full space between the elements */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-logo {
  height: 100px;
  /* width is automatically calculated based on height */
  width: auto;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex elements are in a row */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* removes bullets from lists */
  list-style: none;
}

@media (max-width: 576px) {
  .navbar-nav {
    display: none;
  }
}

.nav-item {
  margin-left: 30px;
}

.nav-link {
  text-transform: uppercase;
  color: #fff;
}

.nav-link-underline {
  padding-bottom: 7px;
  -webkit-transition: border-bottom .5s ease-out;
  -o-transition: border-bottom .5s ease-out;
  transition: border-bottom .5s ease-out;
}

.nav-link-underline:hover {
  border-bottom: 2px solid orange;
}

/* ------------------------------- */
/* Justify - horizontally align Flex elements */
/* ------------------------------- */

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; 
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ------------------------------- */
/* Align-items - vertically align Flex elements */
/* ------------------------------- */

.align-content-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-content-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-content-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ------------------------------- */
/* Footer Styles */
/* ------------------------------- */

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex elements are in a row */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* removes bullets from lists */
  list-style: none;
}

.footer-item {
  margin-right: 30px;
}

.footer-link {
  font-size: 75%;
  -webkit-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}

.footer-link:hover {
  color: #fff;
}

/* ------------------------------- */
/* Text Styles */
/* ------------------------------- */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* centers text for different @media sizes */
@media (max-width: 576px) {
  .media-lg-text-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .media-lg-text-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 992px) {
  .media-lg-text-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) {
  .media-lg-text-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.text-copy {
  text-align: left;
  font-size: 100%;
}

.text-white {
  color: white;
}

.text-darkgrey {
  color: #9C9C9C;
}

.text-100 {
  font-size: 100%;
}

.text-90 {
  font-size: 90%;
}

.text-80 {
  font-size: 80%;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #6c757d;
}

/* ------------------------------- */
/* Spacing Styles */
/* ------------------------------- */

/* adds margin-bottom-4 for different @media sizes */
@media (max-width: 576px) {
  .media-sm-mb-2 {
    margin-bottom: .5rem;
  }
}

@media (max-width: 768px) {
  .media-md-mb-2 {
    margin-bottom: .5rem;
  }
}

@media (max-width: 992px) {
  .media-lg-mb-2 {
    margin-bottom: .5rem;
  }
}

@media (max-width: 1200px) {
  .media-xl-mb-2 {
    margin-bottom: .5rem;
  }
}

.m-0 {
  margin: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.m-1 {
  margin: .25rem;
}

.mt-1 {
  margin-top: .25rem;
}

.mr-1 {
  margin-right: .25rem;
}

.mb-1 {
  margin-bottom: .25rem;
}

.ml-1 {
  margin-left: .25rem;
}

.mx-1 {
  margin-right: .25rem;
  margin-left: .25rem;
}

.my-1 {
  margin-top: : .25rem;
  margin-bottom: .25rem;
}

.p-0 {
  padding: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-1 {
  margin: .25rem;
}

.pt-1 {
  padding-top: .25rem;
}

.pr-1 {
  padding-right: .25rem;
}

.pb-1 {
  padding-bottom: .25rem;
}

.pl-1 {
  padding-left: .25rem;
}

.px-1 {
  padding-right: .25rem;
  padding-left: .25rem;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.m-2 {
  margin: .5rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.ml-2 {
  margin-left: .5rem;
}

.mx-2 {
  margin-right: .5rem;
  margin-left: .5rem;
}

.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.p-2 {
  padding: .5rem;
}

.pt-2 {
  padding-top: .5rem;
}

.pr-2 {
  padding-right: .5rem;
}

.pb-2 {
  padding-bottom: .5rem;
}

.pl-2 {
  padding-left: .5rem;
}

.px-2 {
  padding-right: .5rem;
  padding-left: .5rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.m-3 {
  margin: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ml-3 {
  margin-left: 1rem;
}

.mx-3 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-3 {
  padding: 1rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pl-3 {
  padding-left: 1rem;
}

.px-3 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.mx-4 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.p-4 {
  padding: 1.5rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.px-4 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.m-5 {
  margin: 3rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ml-5 {
  margin-left: 3rem;
}

.mx-5 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.p-5 {
  padding: 3rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pl-5 {
  padding-left: 3rem;
}

.px-5 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* ------------------------------- */
/* List Styles */
/* ------------------------------- */

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* ------------------------------- */
/* Border-radius Styles */
/* ------------------------------- */

.rounded {
  border-radius: 5px;
}

.rounded-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px
}

.rounded-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rounded-circle {
  border-radius: 50%;
}

/* ------------------------------- */
/* Element Selectors */
/* ------------------------------- */

section {
  padding: 5% 0 5% 0;
}

footer {
  padding: 5% 0 5% 0;
}

h1 {
  text-transform: uppercase;
  /* Decrease font-weight when using headings */
  font-weight: 300; 
  /* Make font-size relative so it scales from html{ font-size } */
  font-size: 240%;
  color: #F2FFE7;
  word-spacing: 6px;
  letter-spacing: 1px;
}

h2 {
  font-weight: 300;
  font-size: 180%;
  margin-bottom: 2%;
  word-spacing: 3px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

hr {
  /* if width is defined in the element, use margin: 0 auto to center */
  width: 8%;
  margin: 0 auto;
  border-color: orange;
}

h3 {
  font-weight: 300;
  font-size: 110%;
  margin-bottom: 6%;
  text-align: left; 
  text-transform: uppercase;
} 

blockquote {
  font-style: italic;
}

/* makes img responsive */
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

cite {
  font-size: 90%;
  /* inline-block allows setting margins and padding of inline element */
  display: inline-block;
  margin-top: 7%;
}

option {
  font-weight: 300;
}

/* ------------------------------- */
/* Border Styles */
/* ------------------------------- */

.border {
  border: 1px solid #E4E4E4;
}

.border-bottom {
  border-bottom: 1px solid #E4E4E4;
}

/* ------------------------------- */
/* Background Styles */
/* ------------------------------- */

.background-grey {
  background-color: #EAE6E6;
}

.background-darkgrey {
  background-color: #434141;
}

.background-lightgrey {
  background-color: #F6F6F6;
}

.background-white {
  background-color: #FFF;
}

.background-img-full {
  /* shows full image at any window size (RESPONSIVE DESIGN) */
  background-size: cover;
  /* centers background */
  background-position: center;
  /* header will show full height of screen */
  height: 100vh;
  /* makes background stay in place while scrolling */
  background-attachment: fixed;
}

.background-img {
  /* shows full image at any window size (RESPONSIVE DESIGN) */
  background-size: cover;
  /* centers background */
  background-position: center;
  /* makes background stay in place while scrolling */
  background-attachment: fixed;
}

/* ------------------------------- */
/* Buttons */
/* ------------------------------- */

/* Consolidate all general button styles into this class */
.btn {
  /* inline element that has padding and margin */
  display: inline-block;
  border-radius: 25px;
  margin-right: 12px;
  padding: 8px 25px;
  text-decoration: none;
  color: orange;
  border: 1px solid orange;
  /* color transition */
  -webkit-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.btn:hover {
  background-color: orange;
  color: white;
}

/* for buttons with imgs */
.img-btn {
  /* padding and border is 0 so img takes whole element space */
  padding: 0;
  border: 0;
  float: left;
  margin-top: 2%;
  margin-right: 5%; 
}

/* img for img-btn */
.img-btn img {
  height: 50px;
  width: auto;
}

/* ------------------------------- */
/* Icons */
/* ------------------------------- */

.icons-lg {
  font-size: 300%;
  color: orange;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.icons-sm {
  color: orange;
  padding-right: 3%;
  /* giving element a width allows text-align: center to work */
  width: 30px;
  text-align: center;
}

.icons-tiny {
  color: orange;
  padding-right: 10%;
  padding-left: 2%;
  /* giving element a width allows text-align: center to work */
  width: 30px;
  font-size: 75%;
  text-align: center;
}

.icons-white {
  color: white;
}

/* ------------------------------- */
/* Header Section */
/* ------------------------------- */

.header-background-img{
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.6)),to(rgba(0,0,0,.6))), url('../imgs/hero.jpg');
  background-image: -webkit-linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('../imgs/hero.jpg');
  background-image: -o-linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('../imgs/hero.jpg');
  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('../imgs/hero.jpg');
}

.header-heading {
  position: absolute;
  top: 200%;
  left: 1%;
}

@media (max-width: 992px) {
  h1 {
    font-size: 220%;
    word-spacing: 6px;
    letter-spacing: 1px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 200%;
    word-spacing: 6px;
    letter-spacing: 1px;
  }

  .header-heading {
    position: absolute;
    top: 150%;
    left: 1%;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 180%;
    word-spacing: 6px;
    letter-spacing: 1px;
  }

  .header-heading {
    position: absolute;
    top: 100%;
    left: 1%;
  }
}

/* ------------------------------- */
/* Features */
/* ------------------------------- */

.features-copy {
  width: 75%;
  margin: 0 auto;
  text-align: left;
}

/* ------------------------------- */
/* Favorite Meals */
/* ------------------------------- */

.section-favorites {
  position: relative;
  padding: 0px;
}

.meals-cell {
  width: 100%;
  /* hides img overflow */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.meals-img {
  /* width is 100% in order to cover the whole .meals-grid-cell width */
  width: 100%;
  height: auto;
  /* makes img darker */
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  /* zooms img */
  -webkit-transform: scale(1.15);
          -ms-transform: scale(1.15);
      transform: scale(1.15);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  -o-transition: transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.meals-img:hover {
  /* makese img regular brightness */
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  /* scale is 1.05 in order to get rid of weird white line below imgs */
  -webkit-transform: scale(1.06);
          -ms-transform: scale(1.06);
      transform: scale(1.06);
}

/* ------------------------------- */
/* How-it-works */
/* ------------------------------- */

.works-iphone-img {
  width: 40%;
  height: auto;
  float: right;
  margin-right: 8%;
}

/* adds margin-bottom-4 for different @media sizes */
@media (max-width: 576px) {
  .works-iphone-img {
    float: none;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .works-iphone-img {
    float: none;
    margin-right: -10%;
  }
}

@media (max-width: 992px) {
  .works-iphone-img {
    float: none;
    margin-right: 0;
  }
}
/*
@media (max-width: 1200px) {
  .works-iphone-img {
    float: none;
  }
}*/

.works-numbers {
  /* Creates border box around the number */
  width: 50px;
  height: 50px;
  /* creates border circle around number */
  border: 3px solid orange;
  border-radius: 50%;
  color: orange;
  /* centers number within the border */
  padding-left: 13.5px;
  /* numbers font */
  font-size: 150%;
  font-weight: 300;
  /* makes number and paragraph on the same line */
  float: left;
  /* adds space to separate number with paragraph */
  margin-right: 5%;
}


/* ------------------------------- */
/* Cities section */
/* ------------------------------- */

.twitter-link:link, .twitter-link:visited {
  color: orange;
  border-bottom: 1px solid orange;
  padding: 1px;
  -webkit-transition: border .5s ease-out, color .5s ease-out;
  -o-transition: border .5s ease-out, color .5s ease-out;
  transition: border .5s ease-out, color .5s ease-out;  
}

.twitter-link:hover {
  color: #5975FF;
  border-bottom: 1px solid transparent;  
}

/* ------------------------------- */
/* Testimonials */
/* ------------------------------- */

.testimonials-background-img {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.7)),to(rgba(0,0,0,.7))), url('../imgs/back-customers.jpg');
  background-image: -webkit-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url('../imgs/back-customers.jpg');
  background-image: -o-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url('../imgs/back-customers.jpg');
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url('../imgs/back-customers.jpg');  
}

.small-portrait-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle; 
  margin-right: 8px;
}

/* ------------------------------- */
/* Sign up and Pricing Plans */
/* ------------------------------- */

.signup-price {
  color: orange;
  margin-bottom: 0;
  font-size: 300%;
  font-weight: 100;
}

/* font-size is 40% because it is 40% of 300% since it is a child element */
.signup-price span {
  font-size: 40%;
  font-weight: 300;
}

/* ------------------------------- */
/* Footer */
/* ------------------------------- */

.facebook-link {
  -webkit-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}

.facebook-link:hover {
  color: #694CFD;
}

.twitter-link {
  -webkit-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}

.twitter-link:hover {
  color: #5F9FFF;
}

.googleplus-link {
  -webkit-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}

.googleplus-link:hover {
  color: #FC6060;
}

.instagram-link {
  -webkit-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}

.instagram-link:hover {
  color: #E8E474;
}